    body.dark-mode {
      background-color: #5f5f5f;
      color: #c0c0c0;
      font-family: monospace;
    }
    body.light-mode {
      background-color: #dfdfdf;
      color: #000000;
      font-family: monospace;
    }
    .container {
      justify-content: center;
      align-items: center;
      height: auto;
      margin-bottom: 20px;
      border: 3px solid #ccc;
      background-color: black;
      font-size: 17px;
    }

    .light-mode .container {
      background-color: white;
      color: black;
      border-color: black;
    }

    .box, .box2 {
      border: 3px solid #ccc;
      border-radius: 5px;
      margin: 10px;
      padding: 20px;
      color: white;
    }
    .box2 {
      background-color: black;
    }
    .result-box, .result-box2 {
      height: 50vh;
      overflow-y: auto;
    }
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 5px solid #ddd;
      border-radius: 25px;
      resize: vertical;
      min-height: 150px;
      background-color: #a9a9a9;
      color: black;
      height: 80%;
    }
    .navbar-dark-mode, .navbar-light-mode {
      background-color: black;
      border-bottom: 3px solid gray;
    }
    .navbar-light-mode .nav-link,
    .navbar-light-mode .navbar-brand {
      color: white !important;
    }
    .navbar-dark-mode .nav-link,
    .navbar-dark-mode .navbar-brand {
      color: white !important;
    }
    .btn {
      background-color: #a9a9a9;
      border-color: black;
      color: black;
      margin-left: 10px;
    }
    .conv{
      margin-left:20px;
      color:white;
      text-shadow: 0.5px 0.5px black;
    }

    .dark-mode .user-message .assistant-message {
      padding: 10px;
      border-bottom: 1px solid #eee;
      position: relative;
    }

    .light-mode .message-box {
       border: 1.5px solid black;
    }

    .light-mode .header{
      color: black;
      text-shadow: 1.5px 1.5px gray;
    }

    .header{
       color:white;
       text-shadow: 1.5px 1.5px black;
    }

    .assistant-message {
      border-bottom: none;
      margin-bottom:-15px;
      padding-top:20px;
    }

    .user-message {
      padding-top:10px;
    }

    .user-header{
      color:cyan;
      text-shadow: 0.7px 0.7px cyan;
    }

    .assistant-header{
      color:#14b900;
      text-shadow: 0.7px 0.7px #39FF14;
    }

    .light-mode .user-header{
      color:red;
      text-shadow: 0.7px 0.7px gray;
    }

    .message-box {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      position: relative;
    }

    .timestamp {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 0.9em;
      color: #888;
    }

    .nav-item:hover{
       transform: scale(1.2);
    }


    .navbar-dark-mode {
      background-color: black;
      border-bottom: 3px solid gray;
    }
    .navbar-light-mode {
      background-color: black;
      border-bottom: 3px solid black;
    }
    .navbar-light-mode .nav-link,
    .navbar-light-mode .navbar-brand {
      color: white !important;
    }
    .navbar-dark-mode .nav-link,
    .navbar-dark-mode .navbar-brand {
      color: white !important;
    }
